.category-card {
	height: 115px;
	width: 8%;
	margin: 5px 8px;
	padding: 6px;
	display: inline-block;
}

.card-top {
	width: 90%;
	margin-left: 5%;
	height: 75px;
	margin-bottom: 5px;
}

.card-top > img {
	width: 100%;
	height: 100%;
}

.card-bottom {
	width: 90%;
	margin-left: 5%;
	height: 23px;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.card-bottom:hover {
	color: #2874f0;
	cursor: pointer;
}

.body {
	width: 12%;
}

.top {
	width: 60%;
	margin-left: 20%;
}

.bottom {
	font-size: 13px;
}

@media screen and (max-width:1263px) {
	.category-card {
		height: 120px;
		width: 16%;
		padding: 10px 32px;
		margin: 5px 1%;
	}
	.body {
		width: 17%;
		padding: 10px;
		margin: 5px 1%;
	}
	.body-2 {
		width: 17%;
		padding: 10px;
		margin: 5px 1%;
	}
	.top-2 {
		width: 60%;
		margin-left: 20%;
	}
	.bottom-2 {
		font-size: 13px;
	}
}

@media screen and (max-width:878px) {
	.category-card {
		width: 22%;
		padding: 10px 30px;
	}
	.body {
		width: 22%;
		padding: 10px;
		margin: 10px 1%;
	}
	.noDisplay {
		display: none;
	}
}

@media screen and (max-width:695px){
	.category-card {
		padding: 10px 15px;
	}
	.body {
		padding: 10px 0px;
	}
}

@media screen and (max-width:499px){
	.category-card {
		width: 30%;
		padding: 10px 15px;
	}
	.noDisplay-2 {
		display: none;
	}
}