.content {
	width: 100%;
	margin: 10px;
	position: relative;
	display: flex;
}

/* leftContent CSS */

.leftContent {
	width: 34%;
	position: sticky;
	top: 64px;
	bottom: 0;
	z-index: 2;
	align-self: flex-start;
	padding: 30px 0;
	margin-right: 20px;
	border: 1px solid #735d5d26;
}

.fav {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #f0f0f0;
	box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
	padding: 9px 12px 12px 9px;
	background: #fff;
}

.favImage {
	height: 14px;
	width: 14px;
	position: absolute;
	top: 11px;
	left: 10px;
}

.image {
	height: 400px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
}

.linkedImage {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	opacity: 1;
	max-width: 100%;
	max-height: 100%;
}

.cart {
	font-size: 20px;
	color: white;
	margin-right: 8px;
}

.buy {
	padding: 18px 8px;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
	width: 93%;
	border: none;
	float: left;
	color: white;
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
}

.cartButton {
	background: orange;
	margin-left: 8px;
}

.nowButton {
	background: #fb641b;
}

/* rightContent CSS */

.rightContent {
	width: 66%;
	padding: 0;
	padding-left: 20px;
	padding-top: 20px;
	border: 1px solid #735d5d26;
}

.path {
	font-size: 14px;
	color: gray;
	margin-bottom: 10px;
}

.icons {
	position: absolute;
	right: 15px;
	top: 54px;
}

.icons > span {
	margin-right: 30px;
}

input {
	margin-right: 10px;
}

.shareImg {
	height: 18px;
	width: 18px;
	margin-right: 2px;
}

.details_pName {
	height: 25px;
	font-size: 18px;
	line-height: 18px;
	padding: 5px;
	padding-left: 0;
}

.details_extra {
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	color: #388e3c;
	margin: 10px 0;
}

.details_success {
	width: 42px;
	color: white;
	font-size: 12px;
	text-align: center;
	border-radius: 3px;
	font-weight: 600;
	padding: 2px 4px 2px 6px;
	background-color: #388e3c;
	position: relative;
	display: inline-block;
	margin: 10px 0;
}

.details_pricing {
	height: 30px;
	margin: 5px 0 0;
	display: flex;
}

.details_sp {
	margin-right: 10px;
	font-weight: 600;
	font-size: 24px;
}

.details_mp {
	margin-right: 10px;
	text-decoration: line-through;
	font-size: 16px;
	color: #878787;
	padding-top: 5px;
}

.details_discount {
	margin-right: 10px;
	font-size: 16px;
	letter-spacing: normal;
	color: #26a541;
	font-weight: 600;
	padding-top: 5px;
}

/* availableOffers CSS */

.available {
	font-size: 16px;
	font-weight: 600;
}

.availableOffers {
	width: 100%;
	margin: 10px 0;
}

.offerDiv {
	position: relative;
	font-size: 15px;
}

.tag {
	height: 18px;
	width: 18px;
	margin-right: 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.offerSubDiv {
	width: 96%;
	display: inline-block;
	margin-left: 30px;
}

.offerType {
	font-weight: 500;
	padding-right: 4px;
}

.Terms {
	color: #2874f0;
	font-weight: 500;
	margin-left: 5px;
}

/* highlightsDiv CSS */

.highlightsDiv {
	width: 100%;
	margin: 10px 0;
	padding: 10px 0;
}

.row {
	margin-left: 0px;
	width: 100%;
	margin-bottom: 10px;
}

.division {
	font-size: 14px;
	margin-top: 9px;
	font-weight: 500;
	color: #878787;
	min-width: 110px;
	padding: 10px;
	position: relative;
}

.linkTo {
	height: 60px;
	width: 60px;
	margin: 4px;
	position: relative;
	border-radius: 2px;
	border: 2px solid #e0e0e0;
}

/* Delivery CSS */

.pincode {
	width: 230px;
	height: 30px;
	padding: 0 0 4px;
	border: none;
	border-bottom: 2px solid #2874f0;
	font-weight: 600;
	display: flex;
}

.map-pin {
	height: 20px;
	width: 20px;
}

.pinform {
	line-height: 25px;
}

.pinInput {
	font-weight: 600;
	font-size: 14px;
	border: none;
	outline: none;
	width: 152px;
	padding-left: 6px;
}

.check {
	font-weight: 500;
	font-size: 14px;
	color: #2874f0;
	margin-left: auto;
	position: relative;
	padding-top: 4px;
}

.delivery {
	margin-top: 10px;
}

.deliveryOn {
	position: relative;
}

.orderBy {
	font-size: 13px;
}

/* highlightsList CSS */

.highlightsList {
	margin: 0;
	margin-top: 10px;
	list-style: none;
	padding: 0;
}

.details_highlights {
	font-size: 14px;
	margin: 0;
	padding: 0 0 8px 16px;
}

.highlightsList li::before{
	content: "\2022";
	color: gray;
	display: inline-block;
	width: 16px;
	margin-left: -0.8em;
	font-weight: bold;
	font-size: 1.1rem;
}

.highlightsList li::after{
	position: absolute;
	top: 6px;
	left: 0;
}

.seller {
	height: 35px;
	margin-bottom: -9px;
	font-weight: 500;
	color: #2874f0;
}

.blue {
	background-color: #2874f0;
	border-radius: 10px;
	margin-left: 10px;
}

.superCoin {
	margin: 10px 0;
}

/* productDetails CSS */

.productDetails {
	border-top: 2px solid #f0f0f0;
	border-bottom: 2px solid #f0f0f0;
}

.details {
	font-size: 24px;
	padding: 24px 0 24px 24px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.detailsPlus {
	font-size: 34px;
	color: #878787;
	padding: 20px 10px 0 0;
	text-align: center;
}

.pDetails {
	padding: 10px 0 24px;
	display: none;
	border-top: 2px solid #f0f0f0;
}

.key {
	color: #878787;
}

/* Cart CSS */

.cartProducts {
	width: 70%;
	padding: 20px;
	border: 1px solid #c2c2c2;
	margin-right: 20px;
	margin-bottom: 10px;
}

.cartContent {
	height: 160px;
	width: 100%;
	display: flex;
}

.cartImage {
	height: 115px;
	width: 18%;
	margin: 10px 20px;
	margin-left: 0;
	margin-bottom: 20px;
	position: relative;
}

.cartDetails {
	width: 50%;
	padding: 15px;
}

.cart_pName {
	height: 20px;
	font-size: 17px;
	color: #212121;
	line-height: 1;
	margin-bottom: 10px;
}

.cart_pName:hover {
	color: #2874f0;
	cursor: pointer;
}

.cart_seller {
	font-size: 14px;
	color: #878787;
}

.cart_pricing {
	height: 40px;
	margin: 5px 0 0;
	display: flex;
	padding-top: 5px;
}

.cart_sp {
	margin-right: 10px;
	font-weight: 600;
	font-size: 18px;
	padding-top: 2px;
}

.cart_mp {
	margin-right: 10px;
	text-decoration: line-through;
	font-size: 15px;
	color: #878787;
	padding-top: 5px;
}

.cart_discount {
	margin-right: 10px;
	font-size: 15px;
	letter-spacing: normal;
	color: #26a541;
	font-weight: 600;
	padding-top: 5px;
}

.packaging {
	font-size: 14px;
}

.cartDelivery {
	padding-top: 10px;
}

.free {
	text-decoration: line-through;
}

.big {
	font-size: 20px;
}

.cartExtra {
	display: flex;
	text-align: center;
	padding-left: 23px;
}

.more {
	display: flex;
	margin-right: 50px;
}

.more > button {
	width: 28px;
	height: 28px;
	background: linear-gradient(#fff,#f9f9f9);
	border: 1px solid #c2c2c2;
	font-size: 20px;
	border-radius: 50%;
	line-height: 1;
}

.number {
	height: 28px;
	width: 40px;
	border: 1px solid #c2c2c2;
	margin: 0 5px;
	font-size: 18px;
	text-align: center;
}

.option {
	margin-right: 30px;
	font-weight: 600;
	font-size: 16px;
}

.option:hover {
	color: #2874f0;
	cursor: pointer;
}

.cartPrice {
	width: 28%;
	position: sticky;
	height: 200px;
	border: 1px solid #c2c2c2;
}

.cartTitle {
	margin: 8px 0;
	padding: 5px;
	background-color: #ebe8e8;
	text-align: center;
	border: 1px solid #c2c2c2;
}

.cartTitle > h2 {
	margin: 0;
}

.placeOrder {
	width: 70%;
	max-width: 875px;
	height: 60px;
	padding: 10px;
	margin-left: 10px;
	border: 1px solid #c2c2c2;
	position: relative;
}

.placeOrder > button {
	z-index: 2;
	width: 150px;
	font-weight: 600;
	font-size: 18px;
	position: absolute;
	right: 20px;
}